body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 2em;
}

section main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

section .logo-animation {
  z-index: 1;
  position: relative;
  height: 100px;
  width: 100%;
  transform: translateY(calc(100% + 0.5em));
}

section .logo-animation:hover ~ .logo {
  transform: translateX(calc(100% - 100px));
}

section .logo-animation:hover ~ .logo img {
  content: url("./public/img/emixocle-logo-red.png");
}

section .logo {
  transition: transform 0.4s ease-in-out 0.05s;
}

section .logo img {
  width: 100px;
  height: 100px;
  display: block;
}

section .text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 2em;
  color: #333;
}

footer {
  width: 100%;
  color: #fff;
  padding: 1rem 0;
}

a {
  color: #6e23d1;
  text-decoration: none;
}
